/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "Open Sans";
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.hidden {
	visibility: hidden;
}

.absoluteTop {
	position: absolute;
	top: 0;
	left: 0;
}

/* END CSS RESET */


#contactComplete {
	display: none;
	height: auto;
    background-color: #ee3126;
    position: fixed;
    top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
    padding: 5rem 2rem 5rem 2rem;
    text-align: center;
    width: auto;
	max-width: 40vw;
	max-height: 100px;
}

#contactCompleteClose {
	position: absolute;
	top: 20px;
	right: 20px;
	color: #ffffff;
	font-size: 2rem;
}

#contactComplete h3 {
	color: #ffffff;
	font-size: 2rem;
	margin: 10px 0;
}

#contactComplete h4 {
	color: #ffffff;
	font-size: 1.5rem;
}

.clearfix {
	clear: both;
}

#wrapper {
    width: 100%;
}

#header {
	height:	58px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

#headerLogo {
	text-align: center;
	height:	75px;
	position: relative;
	background-color: #5e5f5f;
}

#headerLogo img {
	max-height: 60px;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -20px;
	right: 0;
	margin: auto;
	z-index: 10000001;
}

#social {
	position: fixed;
	top: 22px;
	right: 5px;
	height: 75px;
	z-index: 10001;
	width: auto;
}

.menuSocialIcon {
	vertical-align: middle;
	margin: 0 auto;
	display: inline-block;
	max-height: 25px;
	max-width: 25px;
}

#footer {
	background-color: grey;
}

#footerContentLeft {
	max-width: 100%;
	display: block;
	padding: 20px;
}

#footerContentLeftText {
	padding: 10px 0;
	line-height: 20px;
}

#footerContentMiddle {
	max-width: 40%;
	float: left;
	display: inline-block;
	padding: 20px;
}

#footerContentMiddleHeader {
	color: #ee3126;
	padding: 10px 0;
}

.footerContentMiddleHeaderDetail {
	padding: 10px 0;
	line-height: 20px;
}

#footerContentRight {
	width: 45%;
	float: right;
	display: inline-block;
	padding: 20px;
}

#footerContentRightHeader {
	color: #ee3126;
	padding: 10px 0;
}

#footerMap {
	max-width: 100%;
	height: 200px;
}

#standardButton {
	background-color: #ee3126;
	color: #ffffff;
	display: inline-block;
	text-decoration: none;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
}

.standardButton {
	background-color: #ee3126;
	color: #000000;
	display: inline-block;
	text-decoration: none;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
}

.centerUnderlineYellow {
	margin: 20px auto;
	width: 100px;
	border-bottom: solid #ee3126 3px;
}

.centerUnderlineGrey {
	margin: 20px auto;
	width: 100px;
	border-bottom: solid #5e5f5f 3px;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

#jetstreamLogo {
	float: right;
	margin: 0 20px;
	visibility: hidden;
}

#jetstreamLogoMobile {
	visibility: visible;
}

/* HOME MOBILE */

#headerMobile {
	display: block;
}

#headerDesktop {
	display: none;
}

#homeHeader {
	width: 100%;
	margin-top: 58px;
}

#homeHeaderImage {
	width: 100%;
}

#homeHeaderText {
	padding: 20px 10px;
	background-color: #ee3126;
	line-height: 20px;
	position: relative;
	top: -5px;
}

#homeHeaderText h2 {
	text-align: center;
	color: #ffffff;
	font-family: 
}

#homeProducts {
	text-align: center;
}

#homeProductsHeader {
	text-align: center;
	font-weight: 600;
	font-size: 30px;
	color: #5e5f5f;
}

#homeProductsText {
	text-align: center;
	padding: 0 20px;
	color: #5e5f5f;
	line-height: 20px;
}

.homeProduct {
	width: 35%;
	display: inline-block;
	margin: 20px;
	padding: 10px;
	background-color: #f6f6f7;
	text-align: center;
	min-height: 200px;
	vertical-align: top;
}

.homeProduct a img {
	width: 50%;
}

.homeProductText {
	min-height: 50px;
	font-weight: 600;
	color: #5e5f5f;
}

.homeProductButton {
	background-color:#ee3126;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight: 400;
	padding:9px 16px;
	text-decoration:none;
	margin-bottom: 20px;
}

.homeProductButton:active {
	position:relative;
	top:1px;
}

#homeHeaderEnquire {
	text-align: center;
	padding: 20px 0 20px 0;
	background: linear-gradient(180deg, #ee3126 50%, #ffffff 50%);
	color: #5e5f5f;
	position: relative;
	top: -5px;
}

.homeHeaderButton {
	background-color:#5e5f5f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight: 400;
	padding:17px 67px;
	text-decoration:none;
}

.homeHeaderButton:hover {
	background-color:#ee3126;
}

.homeHeaderButton:active {
	position:relative;
	top:1px;
}

#homeServices {
	text-align: center;
}

#homeServicesHeader {
	text-align: center;
	font-weight: 600;
	font-size: 30px;
	color: #5e5f5f;
}

#homeServicesText {
	text-align: center;
	padding: 0 20px;
	color: #5e5f5f;
	line-height: 20px;
}

.homeService {
	width: 35%;
	display: inline-block;
	margin: 20px;
	padding: 10px;
	background-color: #f6f6f7;
	text-align: center;
	min-height: 200px;
	vertical-align: top;
}

.homeServiceText {
	min-height: 70px;
	font-weight: 600;
	color: #5e5f5f;
	padding: 10px 0;
}

.homeServiceButton {
	background-color:#ee3126;
	display:inline-block;
	cursor:pointer;
	font-size:15px;
	font-weight: 400;
	padding:9px 16px;
	text-decoration:none;
	margin-bottom: 20px;
	color: #ffffff;
}

#homeDifferentiators {
	text-align: center;
	background-color: #f6f6f7;
	padding-top: 20px;
}

#homeDifferentiatorsHeader {
	text-align: center;
	font-weight: 600;
	color: #5e5f5f;
	font-size: 30px;
}

#homeDifferentiatorsText {
	text-align: center;
	color: #5e5f5f;
	padding: 0 20px;
	line-height: 20px;
}

.homeDifferentiator {
	width: 30%;
	display: inline-block;
	margin: 20px;
	padding: 10px;
	background-color: #f6f6f7;
	text-align: center;
	min-height: 200px;
	vertical-align: top;
}

.homeDifferentiatorHeader {
	text-align: center;
	min-height: 30px;
	margin: 10px;
	font-weight: 600;
	color: #5e5f5f;
}

.homeDifferentiatorText {
	text-align: center;
	min-height: 250px;
	color: #5e5f5f;
	line-height: 20px;
}

.homeDifferentiatorImage {
	max-width: 100%;
}

#homeClients {
	padding: 10px 20px;
	text-align: center;
}


#homeClientsHeader {
	text-align: center;
	min-height: 30px;
	margin: 10px;
	font-weight: 600;
	color: #5e5f5f;
	font-size: 30px;
}

.homeClient {
	max-width: 18%;
	display: inline-block;
	padding: 10px;
	text-align: center;
	vertical-align: top;
}

.homeClientImage {
	max-width: 100%;
}

/* END HOME MOBILE */

/* ABOUT MOBILE */

#aboutWhoAreWe {
	text-align: center;
	margin: 20px 0;
}

#aboutWhoAreWeHeader {
	text-align: center;
	font-weight: 600;
	font-size: 30px;
	color: #5e5f5f;
}

#aboutWhoAreWeText {
	text-align: center;
	padding: 0 20px;
	color: #5e5f5f;
	white-space: pre-wrap;
	line-height: 20px;
}

#aboutLeadershipTeam {
	text-align: center;
	background-color: #f6f6f7;
	padding: 20px 0;
}

#aboutLeadershipTeamHeader {
	text-align: center;
	font-weight: 600;
	font-size: 30px;
	color: #5e5f5f;
}

#aboutLeadershipTeamText {
	text-align: center;
	padding: 0 20px;
	color: #5e5f5f;
	white-space: pre-wrap;
	line-height: 20px;
}

.aboutTeamMember {
	text-align: center;
	padding: 30px 20px;
	vertical-align: top;
}

.aboutTeamMemberImage {
	width: 80%;
}

.aboutTeamMemberHeader {
	text-align: center;
	font-weight: 600;
	font-size: 24px;
	color: #5e5f5f;
	margin-top: 20px;
}

.aboutTeamMemberRole {
	text-align: center;
	font-weight: 600;
	font-size: 24px;
	color: #5e5f5f;
	margin-bottom: 20px;
}

.aboutTeamMemberText {
	text-align: center;
	padding: 0 20px;
	color: #5e5f5f;
	white-space: pre-wrap;
	line-height: 20px;
	width: 80%;
	margin: 0 auto;
}

#aboutMission {
	text-align: center;
	padding: 80px 0;
}

#aboutMissionHeader {
	text-align: center;
	font-weight: 600;
	font-size: 30px;
	color: #5e5f5f;
}

#aboutMissiontext {
	text-align: center;
	padding: 0 20px;
	color: #5e5f5f;
	white-space: pre-wrap;
	line-height: 20px;
}

#aboutPrinciples {
	text-align: center;
	padding: 40px 0;
	background-color: #f6f6f7;
}

#aboutPrinciplesHeader {
	text-align: center;
	font-weight: 600;
	font-size: 30px;
	color: #5e5f5f;
}

.aboutPrinciple {
	width: 25%;
	display: inline-block;
	margin: 20px;
	padding: 10px;
	text-align: center;
	min-height: 200px;
	vertical-align: top;
}

.aboutPrincipleImage {
	max-width: 100%;
}

.aboutPrincipleHeader {
	padding: 20px;
}

/* END ABOUT MOBILE /*

/* PRODUCTS MOBILE */

#productsOurRange {
	text-align: center;
	margin: 20px 0;
}

#productsOurRangeHeader {
	text-align: center;
	font-weight: 600;
	font-size: 30px;
	color: #5e5f5f;
}

#productsOurRangeText {
	text-align: center;
	padding: 0 20px;
	color: #5e5f5f;
	white-space: pre-wrap;
	line-height: 20px;
}

.productsProduct {
	background-color: #f6f6f7;
	text-align: center;
	padding: 20px 0 0 0;
	margin: 20px 0;
}

.productsProductImage {
	max-width: 80%;
	text-align: center;
	margin: 20px;
}

.productsProductHeader {
	text-align: center;
	font-weight: 600;
	font-size: 24px;
	color: #5e5f5f;
	margin: 20px;
}

.productsProductDetailHeader {
	text-align: center;
	padding: 5px 20px;
	color: #ee3126;
	white-space: pre-wrap;
}

.productsProductDetailText {
	text-align: center;
	padding: 0 20px 20px 20px;
	color: #5e5f5f;
	white-space: pre-wrap;
	line-height: 20px;
	
}

.productImageDesktop  {
	display: none;
}

/* END PRODUCTS MOBILE */

/* SERVICE MOVILE */

#servicesOurServices {
	text-align: center;
	margin: 20px 0;
}

#servicesOurServicesHeader {
	text-align: center;
	font-weight: 600;
	font-size: 30px;
	color: #5e5f5f;
}

#servicesOurServicesText {
	text-align: center;
	padding: 0 20px;
	color: #5e5f5f;
	white-space: pre-wrap;
	line-height: 20px;
}

.servicesService {
	max-width: 100%;
	padding: 20px;
	text-align: center;
}

.servicesServiceImage {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	
}

.servicesServiceHeader {
	text-align: center;
	padding: 5px 10px;
	color: #ee3126;
	white-space: pre-wrap;
	font-size: 26px;
}

.servicesServiceText {
	text-align: center;
	padding: 20px 20px;
	color: #5e5f5f;
	white-space: pre-wrap;
	line-height: 20px;
}

/* END SERVICES MOBILE */

/* CONTACT MOBILE */

#contactHeader {
	width: 100%;
	height: 50px;
	background-color: #ee3126;
}

#contactContactUs {
	padding: 20px 0;

}

#contactContactUsHeader {
	text-align: center;
	font-weight: 600;
	font-size: 30px;
	color: #5e5f5f;
}

#contactContactUsText {
	text-align: center;
	padding: 0 20px;
	color: #5e5f5f;
	white-space: pre-wrap;
	line-height: 20px;
}

#contactSection {
	text-align: center;
}

#contactSectionLeft {
	max-width: 60%;
	display: inline-block;
	background-color: #f6f6f7;
	margin: 40px 0;
	padding: 20px 20px;
}

.contactSectionLeftDetail {
	padding: 10px 0;
}

.contactSectionLeftDetailTop {
	text-align: left;
}

.contactSectionLeftDetailImageParent {
	width: 20px;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	margin-right: 20px;
	display: inline-block;
}

.contactSectionLeftDetailImageHidden {
	vertical-align: middle;
	width: 20px;
	height: 20px;
	margin-right: 20px;
}

.contactSectionLeftDetailText {
	text-align: left;
	padding: 5px 0 0 0;
}

.contactSectionLeftDetailHeader {
	color: #ee3126;
	white-space: pre-wrap;
}

.contactSectionLeftDetailText {
	color: #5e5f5f;
	white-space: pre-wrap;
	line-height: 20px;
}

#contactSectionRight {
	padding: 20px 80px;
}

#contactSectionRight form {
	text-align: center;
	width: auto;
}

.contactFormInput {
	width: 100%;
	background-color: #f6f6f7;
	border: 0.1px solid #d6d6d6;
	height: 25px;
}

.contactFormSection {
	width: 45%;
	text-align: left;
	display: block;
	padding: 5px 0;
}

.contactFormLabel {
	line-height: 20px;
	color: #5e5f5f;
	white-space: pre-wrap;
	font-size: 12px;
}

.contactFormSectionFull {
	width: 100%;
	text-align: left;
	display: inline-block;
	margin-right: 20px;
	padding: 5px 0;
}

.contactFormSectionFull textarea {
	width: 100%;
	background-color: #f6f6f7;
	border: 0.1px solid #d6d6d6;
	height: 100px;
}

.contactFormInputFull {
	width: 100%;
	background-color: #f6f6f7;
	border: 0.1px solid #d6d6d6;
	height: 25px;
}

.contactFormButton {
	margin: 20px 0;
	float: left;
}

/* END CONTACT MOBILE */

/* DESKTOP */
@media only screen and (min-width: 1000px) {

	.aboutTeamMemberText {
		text-align: left;
	}

	.homeDifferentiatorText {
		text-align: left;
	}

	#menuIcon {
		max-width: 100px;
		height: auto;
		position: absolute;
		visibility: hidden;
	}

	.floatLeftDesktop {
		float: left;
	}
	
	.floatRightDesktop {
		float: right;
	}

	#header {
		height: auto;
		position: static;
	}

	#headerMobile {
		display: none;
	}

	#headerLogoDesktop {
		display: inline-block;
		max-width: 30%;
		padding: 10px;
		verticla-align: top;
		float: left;
	}

	#headerLogoDesktop img {
		height: calc(100% - 20px);
	}

	#headerDesktop {
		display: block;
		background-color: #5e5f5f;
		height: 110px;
	}

	#headerDesktopContent {
		height: 100%;
		display: inline-block;
		width: 70%;
		vertical-align: top;
		float: right;
		text-align: right;
	}

	#headerDesktopContentTop {
		height: 70%;
		width: 100%;
	}

	#headerDesktopContentTop form {
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 5;
	}

	#jetstreamLogo {
		visibility: visible;
	}

	#jetstreamLogoMobile {
		visibility: hidden;
	}

	#searchInput {
		background-color: #5e5f5f;
		border: 2px solid #000000;
		height: 15px;
		color: #000000;
		padding: 5px;
		width: 300px;
	}

	#desktopSearchDropdown {
		display: none;
		position: absolute;
		top: 25px;
		left: 0;
		border: 2px solid #000000;
		z-index: 10000000001;
	}

	.desktopSearchDropdownItem {
		background-color: #5e5f5f;
		min-height: 15px;
		width: 300px;
		color: #000000;
		padding: 5px;
		text-align: left;
		text-decoration: none;
		max-height: 30px;
	}

	.desktopSearchDropdownItem a {
		text-decoration: none;
		color: #000000;
	}

	.desktopSearchDropdownItem a:visited {
		color: #000000;
	}

	.desktopSearchDropdownItem a:hover {
		color: #ee3126;
	}

	#searchInput::placeholder {
		color: #000000;
	}

	.searchButton {
		padding: 5px 20px;
		margin-left: 5px;
	}

	#headerDesktopContentBottom {
		height: 30%;
		width: 100%;
	}

	#headerDesktopNav {
		height: 100%;
	}

	#headerDesktopNav {
		padding: 0 20px;
	}

	#headerDesktopNav ul {
		position: relative;
		bottom: 0;
		display: inline-block;
		z-index: 4;
	}

	#headerDesktopNav ul li a{
		color: #000000;
		text-decoration: none;
		margin-right: 30px;
	}

	#headerDesktopNav ul li a:hover {
		color: #ee3126;
	}

	.menuSocialIconDesktop {
		display: inline-block;
		vertical-align: middle;
	}

	#headerDesktopNav ul li {
		display: inline;
	}

	#header {
		
	}

	#headerLogo {

	}

	#social {

	}

	#footer {
		
	}

	#footerContentLeft {
		float: none;
		width: 40%;
		display: inline-block
	}

	#footerContentMiddle {
		float: none;
		width: 15%
	}

	#footerContentRight {
		float: right;
		width: 29%;
		text-align: center;
		padding: 20px;
	}

	#footerContentRightHeader {
		text-align: left;
	}

	#footerMap {
		width: 100%;
		height: 200px;
	}

	/* HOME DESKTOP */

	#homeProducts {
		padding: 20px 0;
	}

	#homeProductsText {
		padding: 0 50px;
	}
	
	.homeProduct {
		width: 20%;
	}
	

	#homeHeader {
		margin: 0;
	}

	#homeHeaderText {
		font-size: 20px;
		padding: 50px 50px 30px 50px;
		position: relative;
		top: -5px;
	}

	#homeHeaderEnquire {
		position: relative;
		top: -5px;
	}

	#homeHeaderButton {
		font-size: 26px;
	}

	#homeServices {
		padding: 20px 0;
	}

	#homeServicesText {
		padding: 0 50px;
	}
	

	.homeService {
		width: 20%;
		margin: 40px;
	}

	.homeServiceText {
		padding: 20px;
		min-height: 50px;
	}

	#homeDifferentiators {

	}

	#homeDifferentiatorsText {
		padding: 0 50px;
	}
	

	.homeDifferentiator {
		width: 15%;
	}

	/* END HOME DESKTOP */

	/* ABOUT DESKTOP */

	#aboutWhoAreWeText {
		padding: 0 50px 40px 50px;
		font-size: 18px;
		line-height: 20px;
	}

	#aboutLeadershipTeamText {
		padding: 0 50px;
		font-size: 18px;
		line-height: 20px;
	}

	.aboutTeamMember {
		display: inline-block;
		width: 40%;
	}

	.aboutTeamMemberImage {
		width: 90%;
	}

	.aboutPrinciple {
		width: 15%;
	}

	/* END ABOUT DESKTOP */

	/* PRODUCTS DESKTOP */

	.productsProduct {
		width: 90%;
		margin: 30px auto;
	}

	.productsProductHeader {
		text-align: left;
	}

	.productImageMobile {
		display: none;
	}

	.productProductImageParent {
		display: inline-block;
		width: 40%
	}

	.productProductImageDesktopParent img{
		margin: 0 auto;
	}

	.productsProductDetail {
		width: 55%;
		text-align: left;
		padding: 0 0 20px 20px;
	}

	.productsProductDetailHeader {
		text-align: left;
	}

	.productsProductDetailText {
		text-align: left;
	}

	.productButton {
		margin-left: 20px;
	}

	/* END PRODUCTS DESKTOP */

	/* SERVICES DESKTOP */

		.servicesServiceText {
			padding: 30px 50px;
		}

	/* END SERVICES DESKTOP */

	/* CONTACT DESKTOP */

		#contactContent {
			padding-top: 50px;
		}

		#contactSectionleft {
			width: 40%;
			float: left;
		}

		#contactSectionRight {
			display: inline-block;
			width: 60%;
			float: right;
		}

		#contactSectionRight form {
			border-left: solid 2px #5f5f5f;
			padding-left: 180px;
		}

	/* END CONTACT DESKTOP */
    
}

#loginEl {
	text-align: center;
}

#loginHeader {
	margin: 50px 0 20px 0;
	font-size: 30px;
	color: #5e5f5f;
	font-family: "Open Sans";
}

.loginLabel {
	font-size: 20px;
	margin: 0px;
	color: #5e5f5f;
	font-family: "Open Sans";
}

.loginInput {
	margin: 20px;
	color: #5e5f5f;
	padding: 10px;
}

#loginSubmit {
	background-color: #ee3126;
	color: #ffffff;
	display: inline-block;
	text-decoration: none;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
}